# Add the environment variables for the various stages

prod:
  stripeSecretKey: "sk_test_YBZBOZqiRSGJD4GzJLIimJqc00M0Na8EcO"

default:
  stripeSecretKey: "sk_test_YBZBOZqiRSGJD4GzJLIimJqc00M0Na8EcO"
